:root {
  --dark-color: #2e2e2e;
  --white: #f6f6f6;
  --card-light: #e9e9e9;
  --card-dark: #3b3b3b;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  font-size: 20px;
}

section {
  border-radius: 15px;
  padding: 20px;
  background-color: var(--card-light);
  /* min-width: 400px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.flex2 {
  display: flex;
  justify-content: center;
  gap: 20px;

  /* width: 100vw; */
  /* padding-left: 170px; */
}

#name {
  padding: 7px;
}

.question {
  width: max-content;
  /* border: 1px solid var(--dark-color); */
  border-radius: 15px;
  padding: 10px;
}

h1,
h2,
h3 {
  font-family: Poppins, sans-serif;
  margin: 0 auto;
}

p,
li {
  font-family: Inter, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  font-family: "Source Sans 3", sans-serif;
}

.question p {
  border-bottom: 1px solid var(--dark-color);
  padding-bottom: 10px;
}

.question p.light-mode {
  border-bottom: 1px solid var(--white);
}

.dark-mode {
  color: var(--white);
  background-color: var(--dark-color);
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: var(--dark-color);
  border-radius: 15px;
}

.dm-icon {
  color: var(--white);
}

.af-icon {
  color: var(--white);
}

.next-page {
  padding: 10px;
  background-color: var(--dark-color);
  border-radius: 15px;
  display: block;
  color: var(--white);
  margin: 0 auto;
}

.tooltip-text {
  visibility: hidden;
  background-color: var(--dark-color);
  color: var(--white);
  width: max-content;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 20%;
  right: 110%;
  z-index: 1;
}

.submit-name {
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Source Sans 3", sans-serif;
  background-color: #2a2a2a;
  color: var(--white);
}

.result {
  border: 1px solid var(--dark-color);
  background-color: var(--dark-color);
  padding: 10px;
  border-radius: 15px;
}

ol li span:last-child {
  display: block;
}

/* .scoreboard {
  width: 100%;
} */

.scoreboard p {
  margin: 0 auto;
}

/* keep last so display:hidden overwrites all others */
.hidden {
  display: none;
}

/* Font-size */

input,
label {
  font-size: 1.3rem;
}

.submit-name,
.next-page {
  font-size: 1.2rem;
}

.scoreboard {
  margin: 0 auto;
}

.scoreboard p {
  font-size: 1.8rem;
}
/* Toggle effects */

.next-page.light-mode {
  background-color: var(--white);
  color: var(--dark-color);
}

.submit-name.light-mode {
  color: var(--dark-color);
  background-color: var(--white);
}

.toggle.light-mode {
  background-color: var(--white);
}

.material-symbols-outlined.light-mode {
  color: var(--dark-color);
}

.tooltip-text.light-mode {
  color: var(--dark-color);
  background-color: var(--white);
}

section.light-mode {
  background-color: var(--card-dark);
}

/* Hover effects */

input[type="radio"]:hover,
input[type="checkbox"]:hover,
label:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.toggle:hover .tooltip-text {
  visibility: visible;
}
