:root {
  --dark-color: #2e2e2e;
  --white: #fdf7f2;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.flex2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#name {
  padding: 7px;
}

.question {
  width: 80%;
  border: 1px solid var(--dark-color);
  border-radius: 15px;
  padding: 10px;
}

h1,
h2,
h3 {
  font-family: Poppins, sans-serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

p,
li {
  font-family: Inter, sans-serif;
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.1rem;
}

.dark-mode {
  color: var(--white);
  background-color: var(--dark-color);
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: var(--dark-color);
  border-radius: 15px;
}

.dm-icon {
  color: var(--white);
}

.af-icon {
  color: var(--white);
}

.next-page {
  padding: 10px;
  background-color: var(--dark-color);
  border-radius: 15px;
  display: block;
}

.tooltip-text {
  visibility: hidden;
  background-color: var(--dark-color);
  color: var(--white);
  width: max-content;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 20%;
  right: 110%;
  z-index: 1;
}

.submit-name {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Source Sans 3", sans-serif;
  background-color: #2a2a2a;
  color: var(--white);
}

.result {
  border: 1px solid var(--dark-color);
  background-color: var(--dark-color);
  padding: 10px;
  border-radius: 15px;
}

.result p {
  font-size: 1.5rem;
}

.scoreboard img {
  width: 500px;
}

.show-result {
  max-width: 25%;
}

/* keep last so display:hidden overwrites all others */
.hidden {
  display: none;
}

/* Toggle effects */

.question.white-border {
  border: 1px solid var(--white);
}

.next-page.light-mode {
  background-color: var(--white);
}

.submit-name.light-mode {
  color: var(--dark-color);
  background-color: var(--white);
}

.toggle.light-mode {
  background-color: var(--white);
}

.material-symbols-outlined.light-mode {
  color: var(--dark-color);
}

.tooltip-text.light-mode {
  color: var(--dark-color);
  background-color: var(--white);
}

/* Hover effects */

input[type="radio"]:hover,
input[type="checkbox"]:hover,
label:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.toggle:hover .tooltip-text {
  visibility: visible;
}
